body{
    /*border: 1px solid blueviolet;*/
    background: rgba(105, 105, 224, 0.233);
    width: 800px;
    height: 600px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    
    
}

img{

    /*border: 2px solid red;*/
    float: left;
    width: 450px;
    height: 350px;
    margin-left: 10px;
    /*margin-right: 10px;*/
    border-radius: 7px;
    padding-top: 0px;
  
}

.h1gestao{
    /*border: 1px solid rgb(151, 152, 159);*/
    border-style: inset;
    border-width: 5PX;
    border-radius: 10px;
    width: 800px;
    margin-left: 5px;
    color: rgba(113, 111, 234, 0.759);
    margin-top: 10px;
    padding-top: 0px;  
    text-align: center;   
}

.h1contas{
    border: 2px solid blue;
    border-style: inset;
    border-width: 3PX;
    border-radius: 10px;
    width: 345px;
    margin-left: 6px;
    color: rgba(158, 156, 241, 0.566);
    
   /* margin-left: 307PX;*/
    margin-top: 0px;
    text-align: center;   
}

.recursosRestantes{
    font-size: 13px;
    margin-left: 5px;
}

pre{
    margin-left: 5px;
}

.divListaLargura{
    /*border: 5px solid rgba(207, 167, 216, 0.278);*/
    border-left: 5px solid rgba(105, 105, 224, 0.233) ;
    border-top: 5px solid rgba(105, 105, 224, 0.233);
    border-radius: 8px;
    margin-top: 10px;
    width: 345px;
    height: 100px;
    max-height: 160px;
    margin-left: 6px;
    background-color: rgba(236, 225, 246, 0.379);
}

.divPrincipal{
    margin: auto;
}

.divInputs{
    
    color: rgba(21, 19, 146, 0.566);
    text-align: center;

}

input{
    border: none;
    border-radius: 2px;
}

.botao{
   border: none;
   border-radius: 4px;
   width: 200px;
   height: 30px;
   color: blue;
   font-size: 14px;
}

.divMaior{
    display: flex;
}

.divBloco{
    /*border: 2px solid rgb(255, 137, 47);*/
    height: 200px;
   
}

footer{
    background-color: rgba(168, 168, 227, 0.516);
    color: rgb(123, 114, 228);
    border-radius: 4px;
    width: 815px;
    height: 50px;
    margin-top: 50px;
    text-align: center;
    text-justify: auto;
    padding-top: 27px;
}


div.img{position: relative; width: 600px; height: 350px;}

div.img img {width:100%; height: 100%;  }

div.img div{
    position: absolute;
    left: 45%;
    margin-left: -180px; 
    top: 24%;
    margin-top: -75px;
    /*background-color: rgb(202, 208, 240); */
    max-width: 220px; 
    height: 82%;
    color: #1920f4;
    display: flex;
    }

    div.img.div {
        display: flex;
        margin-left: 600px;
    }


select {
    border: none;
    background: #f0f1f43e;
    color: blue;
}

option{
    border: none;
    color: blue;
    text-decoration: none;
    background: #f0f1f43e;
}

